:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dakr-overlays-headings: #2e2f42;
  --body-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-background-color: #e7e9fc;
  --light-bacground-color: #f4f4fd;
  --primary-background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ========================================== Body ==========================================  */

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* ========================================== /Body ==========================================  */

/*========================================== Header ==========================================*/
.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--accent-background-color);
}

.header-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dakr-overlays-headings);
  margin-right: 78px;
  padding-top: 24px;
  padding-bottom: 28px;
}

.header-logo > span {
  color: var(--primary-brand-color);
}

.header-nav-conteiner {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
}

.header-link {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dakr-overlays-headings);
  padding-top: 24px;
  padding-bottom: 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current {
  color: var(--pressed-state-color);
}

.header-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.4px;
  width: 100%;
  height: 4px;
  background: var(--pressed-state-color);
  border-radius: 2px;
  opacity: 1;
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.header-contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--pressed-state-color);
}
/*========================================== /Header ==========================================*/

/* =====================Section 1 Effective Solutions for Your Business===================== */

.solutions {
}

.solution-container {
  margin: 0 auto;
  max-width: 1440px;
  height: 600px;
  background-color: var(--dakr-overlays-headings);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.solutions-title {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
}

.solution-btn {
  display: inline-block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--primary-background-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-btn:focus,
.solution-btn:hover {
  background-color: var(--pressed-state-color);
}
/* =====================/Section 1 Effective Solutions for Your Business===================== */

/*================================ Secrtion 2 Main principles ================================*/

.principles-list {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.principles-item {
  max-width: 264px;
}

.principles-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dakr-overlays-headings);
  margin-bottom: 8px;
}

.principles-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.principles-icons {
  padding: 24px 100px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
}

/*================================ /Secrtion 2 Main principles ================================*/

/*=============================== Section 3 What are we doing ===============================*/

.what {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: var(--primary-background-color);
}

.what-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dakr-overlays-headings);
}

.what-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.what-item {
  width: 360px;
  border: 1px solid var(--accent-background-color);
}

/*==================================== Section 4 Our Team ====================================*/

.team {
  background-color: var(--light-bacground-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
}

.team-head {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dakr-overlays-headings);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: 264px;
  background-color: var(--primary-background-color);
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-wrap {
}

.team-name {
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dakr-overlays-headings);
}

.team-position {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.team-social-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-content: center;
}

.social-icon-list {
  width: 40px;
  height: 40px;
}

.social-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--pressed-state-color);
}

.social-icon {
  fill: var(--primary-background-color);
}

/*====================================== Customers section ======================================*/

.customers {
  background-color: var(--primary-background-color);
}
.customers-container {
  padding-top: 130px;
  padding-bottom: 120px;
  text-align: center;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dakr-overlays-headings);
  margin-bottom: 72px;
}

.customer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customer-item {
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: var(--subtle-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--pressed-state-color);
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: var(--pressed-state-color);
}
/*====================================== Footer section ======================================*/

.footer {
  color: var(--accent-background-color);
  background-color: var(--dakr-overlays-headings);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.footer-logo > span {
  color: var(--primary-brand-color);
}

.footer-text {
  margin-top: 16px;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ========== Media ========== */

.social-media {
  margin-left: 120px;
}
.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-media-item {
}
.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.social-media-icon {
  fill: var(--primary-background-color);
}

/* ========== Subscription ========== */

.subscription-wrap {
  margin-left: 80px;
}
.subscription-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
  margin-bottom: 16px;
}

.subscription-form {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.subscription-form-input {
  width: 264px;
  height: 40px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  color: #ffffff;
}

.subscription-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn-wrap {
}

.subscribe-btn {
  position: relative;
  display: flex;
  align-content: center;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-background-color);
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: var(--pressed-state-color);
}

.subscribe-btn-icon {
  position: absolute;
  fill: #f4f4fd;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

/* =========================================Backdrop========================================= */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--primary-background-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 14px;
}

/*=================== Form ===================*/

.input-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-text.first-input-text {
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.input-text-wrap {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.input-text-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-feedback-input:focus,
.input-text-input:focus {
  border-color: #4d5ae5;
}

.input-text-input:focus + .input-text-icon {
  fill: #4d5ae5;
}

/* ================== Feedback ================== */

.modal-feedback-input {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-feedback-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  resize: none;
}

/* ================== Terms ================== */
.modal-terms {
  margin-top: 16px;
  margin-bottom: 24px;
}

.modal-terms-check {
  display: block;
}

.modal-terms-text {
  display: flex;
  align-content: center;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-terms-text .modal-terms-svg {
  text-align: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  fill: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-terms-check:checked + .modal-terms-text .modal-terms-svg {
  background-color: #404bbf;
  fill: #f4f4fd;
  border-color: #404bbf;
}

.modal-terms-link .link {
  margin-left: 3pt;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}

/* =================== Submit =================== */

.modal-submit {
  display: flex;
  justify-content: center;
}

.subscribe-btn-wrap {
  display: flex;
  justify-content: center;
}

.modal-submit-btn {
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--pressed-state-color);
}

/*====================================== Potrfolio.html ======================================*/

.solutions-portfolio {
  background-color: var(--primary-background-color);
  padding-top: 96px;
  padding-bottom: 120px;
}

/*===================================== Section 1 Filters =====================================*/

.solutions-filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.solutions-filter-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-bacground-color);
  padding: 12px 24px;
  border: 1px solid var(--accent-background-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-filter-btn:hover,
.solutions-filter-btn:focus {
  color: var(--primary-background-color);
  background-color: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*===================================== Subsection 1 cards =====================================*/

.solutions-result {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  background-color: var(--primary-background-color);
}

.solution-result-item {
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-result-wrap {
  display: block;
}

.solution-picture-overlay {
  position: relative;
  overflow: hidden;
}

.solution-overlay-text {
  position: absolute;
  transform: translateY(100%);
  overflow: auto;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.solution-result-item:hover,
.solution-result-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.solution-result-wrap:hover .solution-overlay-text,
.solution-result-wrap:focus .solution-overlay-text {
  transform: translateY(0);
}

.solution-item-wrap {
  padding: 32px 16px;
  border: 1px solid var(--accent-background-color);
  border-top: none;
  background-color: var(--primary-background-color);
}
.solution-result-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dakr-overlays-headings);
}

.solution-result-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
